.input-container {
  margin-top: 1rem;

  .form-label {
    line-height: normal;
    cursor: pointer;
  }

  .form-field {
    max-width: none;
  }

  .error-text {
    color: red;
    font-size: 0.8rem;
    margin: 0.5rem 1rem;
  }
}
