@import '../../sass/index.scss';

.zoom-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;

  .zoom {
    cursor: pointer;
    transition: all 1s ease-in-out;

    &:hover {
      transform: scale(1.5);
    }
  }
}

.card-btns {
  max-width: 18rem;
  @include respond(phone) {
    height: 7rem;
  }
}
