.conatiner {
  margin-top: 1rem;
  height: 2rem;
}

.slider {
  position: relative;
  width: 90%;

  .slider-track,
  .slider-range {
    border-radius: 0.25rem; /* Make the track round */
    height: 0.3rem;
    position: absolute;
  }

  .slider-track {
    background: var(--text-color);
    width: 100%;
    z-index: 1;
  }

  .slider-range {
    background: var(--primary-color);
    z-index: 2;
  }

  .slider-leftValue,
  .slider-rightValue {
    position: absolute;
    z-index: 3;
    margin-top: 0.75rem;
    font-size: 0.85rem;
    color: var(--text-color-dark);
  }

  .slider-leftValue {
    left: 0;
  }

  .slider-rightValue {
    right: 0;
  }
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 12.5rem;
  outline: none;
}

.thumb-zindex3 {
  z-index: 3;
}

.thumb-zindex4 {
  z-index: 4;
}

.thumb-zindex5 {
  z-index: 5;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: #f1f5f7;
  border: 0.05rem solid var(--text-color-dark);
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  margin-top: 0.25rem;
  pointer-events: all;
  position: relative;

  &:active {
    height: 1.2rem;
    width: 1.2rem;
  }
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #f1f5f7;
  border: 0.05rem solid var(--text-color-dark);
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  margin-top: 0.25rem;
  pointer-events: all;
  position: relative;

  &:active {
    height: 1.2rem;
    width: 1.2rem;
  }
}
